.container {
    margin: 0 auto;
    padding: 20px;
  }
  
  .welcome-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .username {
    font-weight: bold;
  }
  
  .content {
    background-color: #f5f5f5;
    padding: 20px;
  }
  